<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'newapp/css/style.css' %}"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
</head>
<body>
    <h1 >Hello {{name}} well-come !<br> {{name}}
        This is Feedback Form For Trainers</h1>
    <h3 >
        Trainers Name:___________________ <br>
        Rating for Trainer:_______________</h3>
    <    
          
</body>
</html>